.category {
  margin-top: 70px;
  margin-bottom: 70px;
  
  
}
.category-inner{
  width: 100%;
  
  

}
.tab_group {
  
  background: #f5f5f5;
  display: flex;
  vertical-align: middle;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;

}

.tab_group__tab{
  background: #444444;
  border: 1px solid #ffffff;
  color: #fff;
  text-align: center;
  padding: 14px;

  width: 50%;
  font-size: 12px;
  

  
  font-weight: normal;
    text-decoration: none;
  

}

.ui_grid{
  position: relative;
  overflow: hidden;
}