* {
  color:inherit;
  box-sizing: border-box;
}

.content {
  overflow: auto;
  margin-top: 61px;
}

div {
  display: block;
}

body, div, span, label, em, a, ul, table {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}

.CartStoreItem__header {
  padding: 21px 18px;
  background-color: #f5f5f5;
}

.CartStoreItem__title {
  display: inline-block;
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}

.CartStoreItem__ItemList {
  padding: 18px;
}

.CartProductListItem__productInfo {
  display: flex;
  align-items: center;
}

.CartProductListItem__productImg {
  margin-left: 10px;
}

.CartProductListItem__productName {
  margin-left: 10px;
  text-decoration: none; 
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 42px;
}

.CartProductListItem__optionInfo {
  padding: 0 20px 14px 30px;
}

.CartOptionList {
  margin-bottom: 12px;
}

.CartOptionListItem {
  display: table;
  width: 100%;
  padding: 16px 0 18px 0;
}

.CartOptionListItem__splitLeft {
  display: table-cell;
  width: 75%;
}

.CartOptionListItem__optionText {
  display: inline-block;
  vertical-align: middle;
  width:75%;
  min-height: 36px;
  font-size: 12px;
  color: #666666;
}

.CartOptionListItem__counter {
  display: block;
  margin-top:16px;
}

.NumberCounter {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.NumberCounter__button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.NumberCounter__button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.NumberCounter__button {
  border: 1px solid #ccc;
  color: #666666;
  background-color: #f5f5f5;
  display: inline-block;
  font-size: 12px;
  width:24px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  font-weight: bold;
}

.NumberCounter__input {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0 none;
  border-top: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  width: 36px;
  text-align: center;
  line-height: 22px;
  height: 24px;
  color: #333333;
  font-weight: bold;
}

.CartOptionListItem__splitRight {
  display: table-cell;
  text-align: right;
  width: 25%;
  min-width: 80px;
}

.CartOptionListItem__totalPrice {
  font-size: 14px;
  color: #333333;
  display: inline-block;
  margin-top: 25px;
}


.CartOptionListItem__deleteButton {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid #ccc;
  color: #666666;
  background-color: #f5f5f5;
  display: inline-block;
  font-size: 12px;
  width:26px;
  height: 26px;
  line-height: 26px;
  padding: 0;
  vertical-align: middle;
  font-weight: bold;
}

.CartProductOrderMessage {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.CommonTextEditor {
  display: inline-block;
  width: 100%;
  height: 80px;
  overflow: hidden;
  position: relative;
}

.CommonTextEditor__textarea {
  width: 100%;
  height: 100%;
  padding: 12px 30px 12px 12px;
  border-radius: 2px;
  resize: none;
  line-height: 1.33;
  border: 1px solid #ccc;
}

.CommonTextEditor__maxLength {
  position: absolute;
  bottom: 4px;
  right: 8px;
  font-size: 14px;
}

.CartStoreItem__section {
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  margin-top:-1px;
}

.CartStoreItem__label {
  display: inline-block;
  vertical-align: middle;
  color: #666666;
  font-size:13px;
}

.CartStoreItem__price {
  color: #333333;
  font-size:14px;
  line-height: 1.2;
  font-weight: bold;
}

.ShippingPrice {
  text-align: right;
}

.ShippingPrice__price {
  color: #333333;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
}

.ShippingPrice__free {
  margin-top: 2px;
  font-size: 12px;
  font-weight: normal;
  color: #999999;
  line-height: 1.5;
}

.CartList__sticky {
  background-color: rgba(255,255,255,0.9);
}

.CartCheckout {
  background-color: #ffffff;
}

.CartCheckoutMobile {
  padding: 16px 16px 0 16px;
}

.CartCheckoutMobile__detail {
  padding: 18px 0 8px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.CartCheckoutMobile__detail__group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
}

.CartCheckoutMobile__detail__label {
  display: inline-block;
  flex: 1;
  font-size: 12px;
  color: #999999;
}

.CartCheckoutMobile__result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.CartCheckoutMobile__result__label {
  display: inline-block;
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

.CartCheckoutMobile__result__price {
  display: inline-block;
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: green;
}

.CartBuyNowPage__bottom {
  padding: 16px;
}

.CartBuyNowPage__orderButton {
  width: 100%;
  background: green;
  border: 1px solid transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgb(220, 220, 220 / 30%);
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: border-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  vertical-align: middle;
}