

.top {
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom-width: 0.5px;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-style: solid;
  
  /* 로고, 장바구니 전체 부분 */

}

.topmain{
  display: flex;
  overflow: hidden;
  height: 60px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items : center;
  background-color: #ffffff;
  overflow-x:auto;
  
  
}

.top__link {
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.cart__link {
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 18px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}