

.ui_title {
  display: flex;
  /* overflow: scroll; */
  padding: 0px 4px 4px;
  margin: 20px 24px 0px;
  height: 40px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items : center;
  background-color: #ffffff;
  overflow-x:auto;
}

.ui_title__txt {
  min-width: 50px;
  /* overflow: scroll; */
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.ui_title__txtright_more {
  min-width: 50px;
  /* overflow: scroll; */
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 14px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

